Part1/OfficeOpenXML-RELAXNG-Strict/shared-customXmlDataProperties.rnc

default namespace ds =
  "http://purl.oclc.org/ooxml/officeDocument/customXml"
namespace s = "http://purl.oclc.org/ooxml/officeDocument/sharedTypes"

ds_CT_DatastoreSchemaRef = attribute ds:uri { xsd:string }
ds_CT_DatastoreSchemaRefs =
  element schemaRef { ds_CT_DatastoreSchemaRef }*
ds_CT_DatastoreItem =
  attribute ds:itemID { s_ST_Guid },
  element schemaRefs { ds_CT_DatastoreSchemaRefs }?
ds_datastoreItem = element datastoreItem { ds_CT_DatastoreItem }
