Part1/OfficeOpenXML-RELAXNG-Strict/shared-customXmlSchemaProperties.rnc

default namespace sl = "http://purl.oclc.org/ooxml/schemaLibrary/main"

sl_CT_Schema =
  attribute sl:uri { xsd:string }?,
  attribute sl:manifestLocation { xsd:string }?,
  attribute sl:schemaLocation { xsd:string }?,
  attribute sl:schemaLanguage { xsd:token }?
sl_CT_SchemaLibrary = element schema { sl_CT_Schema }*
sl_schemaLibrary = element schemaLibrary { sl_CT_SchemaLibrary }
